<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <main class="container">

        <!-- Decorative Background Animation (OK as a div) -->
        <div class="clouds" aria-hidden="true"></div>
      
        <!-- Search Header -->
        <header class="search-bar">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
              </svg>
      
          <input type="text" id="searchBar" name="searchBar" placeholder="Search..." aria-label="Search for a city" />
      
          <a href="#" class="btn-border" aria-label="Search weather">
            <button type="button" id="check" aria-label="Submit search">
                <svg  class="searchIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></button></span>
            </button>
          </a>
        </header>
      
        <!-- Current Weather Info -->
        <section class="temperature" aria-label="Current weather">
          <h1><%=city  %> </h1>
          <img class="weatherIcon"   src="<%=icon  %>" alt="Weather icon for London"/>
          <p><%=temp  %></p>
          <p><%=weather  %></p>
        </section>
      
        <!-- Today's Forecast Section -->
        <section class="weatherToday" aria-label="Today’s weather forecast">
          <svg viewBox="0 0 1440 320" class="wave" aria-hidden="true">
            <path fill="#0f1928" fill-opacity="1"
              d="M0,160 C360,280 1080,40 1440,160 L1440,320 L0,320 Z" />
          </svg>
          <h2>Weather Today</h2>
          <div class="forecast-list" style="display: flex; gap: 10px; align-items: center; justify-content: flex-start;margin: 0;">
            <% hourData.forEach(item => {%>
              <article class="today" aria-label="Morning weather">
                <p><%=new Date(item.hour).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %> </p>
                <img class="weatherIcon"  src="https://openweathermap.org/img/wn/<%= item.icon %>@2x.png" alt="icon" >
                <p><%= item.temp %>°C</p>
                </article>  
           <% }); %>
            
            
          </div>
        </section>
      
      </main>
      
    
</body>
</html>

